.body_carr {
  display: grid;
  background-color: #f4f4f4;
  grid-template-rows: 15vh 110vh 80vh;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "separador   separador"
    "tablaCarrito tablaCarrito "
    "footer    footer";
}
.separador {
  grid-area: separador;
}
.tablaCarrito {
  grid-area: tablaCarrito;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
}
.contain_principal {
  display: flex;
  height: 98%;
  width: 80%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
}
.container_carr_segun {
  width: 80vh;
  height: 100vh;
  overflow-y: auto;
}
.sumatoriaCarr {
  width: 55vh;
  margin-top: 2vh;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  vertical-align: baseline;
  --vh-static: 6.25px;
  /*  position: fixed; */
}
.sumatoriaCarr ul {
  height: 25vh;
  width: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-items: flex-start;
}
.sumatoriaCarr ul li {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.sumatoriaCarr ul :nth-child(1) span {
  font-size: 3vh;
  color: #2b2828;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.sumatoriaCarr ul li span {
  font-size: 2.5vh;
  color: #2b2828;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.CTerminarCompra {
  margin-top: 2vh;
  width: 100%;
  text-align: center;
  height: 20%;
}
.TerminarComCar {
  width: 70%;
  height: 90%;
  border-radius: 10px 10px 10px 10px;
  background-color: darkmagenta;
  color: white;
  font-size: 3vh;
  font-family: Arial, Helvetica, sans-serif;
}
.container_carrito {
  height: 25vh;
  width: 90%;
  margin: 2vh;
  box-shadow: 2px 2px 2px 2px rgb(231, 226, 226);
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.especificaciones {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
}

.nombre_esp {
  margin: 2px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.esp_esp {
  margin: 2vh;
  font-size: 100%;
}
.precio_esp {
  margin: 2vh;
  font-size: 120%;
}
.contain_img_esp {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.contain_deleteCarr {
  height: 100%;
  width: 20%;
  background-color: transparent;
  text-align: center;
  display: flex;
  align-items: center;
}

.deleteCarr {
  border: 1px solid #e5e5e5;
  border-radius: 100%;
  background-color: #f4f4f4;
  margin: auto;
  width: 40px;
  font-family: "Roboto", sans-serif;
  height: 40px;
  font-size: 3vh;
}
.container_PrinCam {
  display: none;
  position: absolute;
  opacity: 0;
  z-index: -1000;
}
.imagenPagCarr {
  width: 150px;
  height: 140px;
}

.titleCarrito {
  font-size: 7vh;
  margin: 2vh;
  margin-left: 12vh;
}
.button_eliminar {
  height: 2vh;
  border: none;
  background: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 2vh;
  cursor: pointer;
  display: inline-block;
  font-weight: 900;
}
.td_buttom {
  width: 1vh;
}
.container_carrito_principal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid blue;
  overflow-y: auto;
}
.container_carrito_cambio {
  display: none;
}
//no carr
.noCarr {
  width: 100%;
  height: 80%;
  display: none;
}
.noCarrCambio {
  display: block;
}
.containNoCarr {
  background-color: white;
  border: 1px solid rgb(167, 162, 162);
  border-radius: 10px 10px 10px 10px;
  width: 60%;
  height: 50%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.containNoCarr h3 {
  font-size: 130%;
  color: #2b2828;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.containNoCarr p {
  font-size: 110%;
  color: #2b2828;
  font-family: Arial, Helvetica, sans-serif;
}
