.portada {
  grid-area: portada;
  background: url(../../imagenes-proyecto/imagenportada1.jpeg);
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: hidden;
}

.img-portada-1 {
  width: 50%;
  overflow: hidden;
}

.portada-2 {
  grid-area: portada-2;
  background: url(../../imagenes-proyecto/portada-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.bu-principal {
  height: 8vh;
  width: 35vh;
  margin-bottom: 15vh;
  margin-left: 7vh;
  background: none;
  border: 2px solid #eee;
  border-radius: 24px;
}

.bu-prin {
  text-decoration: none;
  color: #fff;
  padding-top: 1.3vh;
  text-align: center;
  position: relative;
  font-size: 3.5vh;
  font-family: "Mulish", sans-serif;
}

.linea ::before {
  content: "";
  width: 10px;
  bottom: -10%;
  left: 50%;
  background: #fff;
  height: 2px;
  transform: translatex(-50%);
  transition: 0.75s all;
}

.linea :hover ::before {
  width: 100%;
  position: absolute;
  background: #8adaff;
}

.bu-principal-1 {
  border: 2px solid #000;
  border-radius: 30px;
  background: none;
  text-decoration: none;
  margin-bottom: 17vh;
  margin-left: 7vh;
  height: 8vh;
  overflow: hidden;
  width: 35vh;
  font-family: "Mulish", sans-serif;
}

.bu-prin-1 {
  text-decoration: none;

  color: #000;
  padding-top: 1.3vh;
  text-align: center;
  border: none;
  position: relative;
  font-size: 3.5vh;
  align-items: center;
  font-family: "Mulish", sans-serif;
}

.linea::before {
  content: "";
  width: 10px;
  bottom: -10%;
  left: 50%;
  background: #000;
  height: 2px;
  transform: translatex(-50%);
  transition: 0.75s all;
}

.linea:hover::before {
  width: 100%;
  position: absolute;
  background: #a80f96;
}

.des-port {
  margin-bottom: 14vh;
  width: 43vh;
  text-align: start;
  margin-left: 19%;
  font-family: "Mulish", sans-serif;
}

.des-p {
  font-size: 2.8vh;
  font-family: "Mulish", sans-serif;
}

.title-des {
  font-family: "Mulish", sans-serif;
  font-size: 3.5vh;
}

.des-port-2 {
  margin-bottom: 14vh;
  width: 43vh;
  text-align: start;
  margin-left: 19%;
  font-family: "Mulish", sans-serif;
}

.des-p-2 {
  font-size: 2.8vh;
  color: aliceblue;
  font-family: "Mulish", sans-serif;
}

.title-des-2 {
  font-size: 3.5vh;
  color: aliceblue;
  font-family: "Mulish", sans-serif;
}
