.container_opciones_menu-1 {
  flex-direction: column;
}
.menu_opciones_acce {
  width: 100%;
}
.container_opciones_menu_acce {
  flex-direction: row;
}
.title_menu_opciones {
  position: relative;
}
.list_opciones_acce {
  padding-left: 5vh;
}
.categorias_opciones-2 {
  text-align: center;
  display: flex;
  flex-direction: row;
  list-style: none;
}
