/* Large desktop */
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .cont-enla ul li a > span {
    display: none;
  }
}

/* Landscape phone to portrait tablet */
/* Landscape phones and down */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .menu {
    overflow: hidden;
    width: 100%;
    display: block;
  }
  .cont-enla ul li a > span {
    display: none;
  }
  .logo {
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    height: fit-content;
    width: 100%;
  }
  .menuHamLi {
    display: block;
  }
  .cont-enla ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 6vh;
  }
  .cont-enla ul li a {
    text-align: center;
  }
  .lupa {
    display: none;
    z-index: 1000;
  }
  .fa-shopping-bag {
    font-size: 3vh;
  }
  .contain_title_ofert {
    font-size: 1vh;
  }
  .body__practica {
    overflow-x: hidden;
    overflow-y: auto;
    display: -ms-grid;
    display: grid;
    overflow-x: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-x: scroll;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 115vh 135vh 90vh 90vh 120vh 50vh 80vh;
    grid-template-rows: 25% 25% 7% 16% 30% 13% 10%;
        grid-template-areas: "portada portada" "portada-2 portada-2" "contain_title_ofert  contain_title_ofert" "containPrincipal  containPrincipal" "secciones secciones" "ant-foot ant-foot" "footer footer";
  }
  .span_publi {
    display: none;
  }
  .containPrincipal {
    border: medium solid red;
    overflow: hidden;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: containPrincipal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .portada {
    background-position: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contain_ppt {
    border: 1px solid red;
  }
  .bu-prin {
    text-decoration: none;
    color: #fff;
    padding-top: 0;
    margin: 0%;
    padding: 0%;
    left: 0%;
    right: 0;
    text-align: center;
    position: relative;
    font-size: 3.5vh;
    font-family: "Mulish", sans-serif;
  }
  .portada-2 {
    background-position: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .des-port {
    margin-bottom: 0;
    width: 43vh;
    text-align: center;
    margin-left: 0%;
    font-family: "Mulish", sans-serif;
  }
  .bu-prin-1 {
    text-decoration: none;
    color: #fff;
    padding-top: 0;
    margin: 0%;
    padding: 0%;
    left: 0%;
    right: 0;
    text-align: center;
    position: relative;
    font-size: 3.5vh;
    font-family: "Mulish", sans-serif;
  }
  .des-port-2 {
    margin-bottom: 0;
    width: 43vh;
    text-align: center;
    margin-left: 0%;
    font-family: "Mulish", sans-serif;
  }
  .containPrincipal {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .imgPubli {
    -o-object-fit: contain;
       object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }
  .carrusel_atras {
    -webkit-transform: translate(0%, 1000%);
            transform: translate(0%, 1000%);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: transparent;
    position: absolute;
    border: 1px solid red;
  }
  .carrusel_adelante {
    -webkit-transform: translate(1640%, 1150%);
            transform: translate(1640%, 1150%);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: transparent;
    position: absolute;
    border: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
/* iPhone 4 and high pixel ratio devices ----------- */
/*# sourceMappingURL=querysIndex.css.map */