/* Large desktop */
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .cont-enla ul li a > span {
    display: none;
  }
}

/* Landscape phone to portrait tablet */
/* Landscape phones and down */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 480px) {
  .menu {
    overflow: hidden;
    width: 100%;
    display: block;
  }
  .cont-enla ul li a > span {
    display: none;
  }
  .logo {
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    height: fit-content;
    width: 100%;
  }
  .container_hambur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .panel_btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vh;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
  }
  .panel_hambur {
    position: fixed;
    z-index: 998;
    background: #a39696;
    opacity: 0.5;
    width: 100%;
    top: 0;
    bottom: 0;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform: translate(0, -100);
            transform: translate(0, -100);
  }
  .panel_hambur.panelActive {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .ul_hambur {
    width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    list-style: none;
  }
  .ul_hambur a {
    width: 100%;
    padding: 10%;
    display: block;
    font-size: 2vh;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .ul_hambur li :hover {
    font-weight: bold;
    color: #8a6e6e;
    background-color: darkblue;
  }
  .off {
    display: none;
  }
  .cont-enla ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 6vh;
  }
  .cont-enla ul li a {
    text-align: center;
  }
  .lupa {
    display: none;
    z-index: 1000;
  }
  .fa-shopping-bag {
    font-size: 3vh;
  }
  .contain_title_ofert {
    font-size: 1vh;
  }
  .body__practica {
    overflow-x: hidden;
    overflow-y: auto;
    display: -ms-grid;
    display: grid;
    overflow-x: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-x: scroll;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 115vh 135vh 90vh 90vh 120vh 50vh 70vh;
    grid-template-rows: 25% 25% 3% 13% 45% 10% 18%;
        grid-template-areas: "portada portada" "portada-2 portada-2" "contain_title_ofert  contain_title_ofert" "containPrincipal  containPrincipal" "secciones secciones" "ant-foot ant-foot" "footer footer";
  }
  .span_publi {
    display: none;
  }
  .portada {
    background-position: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bu-principal {
    margin-left: 0;
  }
  .bu-principal-1 {
    margin-left: 0;
  }
  .bu-prin {
    text-decoration: none;
    color: #fff;
    padding-top: 0;
    margin: 0%;
    padding: 0%;
    left: 0%;
    right: 0;
    text-align: center;
    position: relative;
    font-size: 3.5vh;
    font-family: "Mulish", sans-serif;
  }
  .portada-2 {
    background-position: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .des-port {
    margin-bottom: 0;
    width: 43vh;
    text-align: center;
    margin-left: 0%;
    font-family: "Mulish", sans-serif;
  }
  .bu-prin-1 {
    text-decoration: none;
    color: #fff;
    padding-top: 0;
    margin: 0%;
    padding: 0%;
    left: 0%;
    right: 0;
    text-align: center;
    position: relative;
    font-size: 3.5vh;
    font-family: "Mulish", sans-serif;
  }
  .des-port-2 {
    margin-bottom: 0;
    width: 43vh;
    text-align: center;
    margin-left: 0%;
    font-family: "Mulish", sans-serif;
  }
  .containPrincipal {
    overflow: hidden;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: containPrincipal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: whitesmoke;
    height: 70vh;
  }
  .bt_carrusel_atras {
    background: red;
    float: left;
  }
  .imgPubli {
    -o-object-fit: contain;
       object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }
  .btCarrusel {
    background: transparent;
    border: none;
  }
  .carrusel_atras {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    background: transparent;
    position: absolute;
    text-align: center;
    right: 90%;
    border: none;
  }
  .carrusel_adelante {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    left: 90%;
    background: transparent;
    position: absolute;
    border: none;
  }
  .bu-publicidad {
    position: absolute;
    -webkit-transform: translate(50%, 700%);
            transform: translate(50%, 700%);
    left: 0;
  }
  .secciones {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-foot {
    margin-top: 15%;
  }
  .img-secciones {
    margin-top: 8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img-sec {
    position: relative;
    border-radius: 4.9vh;
  }
  .img-sec {
    position: relative;
    width: 90%;
    border-radius: 4.9vh;
  }
  .title-ant {
    font-size: 115%;
  }
  .text-ant {
    font-size: 115%;
    text-align: center;
  }
  .inp-email {
    margin-top: 6vh;
    height: 105%;
    font-size: 3;
    width: 160%;
  }
  .elem-list a {
    font-size: 112%;
    color: #000;
  }
  .derechos-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .dere {
    font-size: 112%;
    margin-bottom: 10px;
  }
  .url-hijo {
    font-size: 90%;
  }
  .url-hijo_2 {
    font-size: 90%;
  }
  .link-hij {
    font-size: 90%;
  }
}

/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
/* iPhone 4 and high pixel ratio devices ----------- */
/*# sourceMappingURL=querysIndex.css.map */