@media only screen and (max-device-width: 480px) {
  .body_product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5% 90% 23%;
    grid-template-areas:
      "presentacion_productos  presentacion_productos"
      "img__product   img__product"
      "footer  footer";
  }

  //menu flotante----------------------------------------
  .inside_h1 {
    text-align: center;
    font-size: 4vh;
    color: var(--rosa-titles);
  }
  .title__img_cont {
    width: 100%;
    grid-area: title__img_cont;

    display: flex;
    align-items: flex-end;
    margin-top: 20%;
    justify-content: center;
  }
  .opciones_de_productos {
    width: 100%;
    display: none;
    transition: 0.5s;
    background: #fff;
    position: relative;
  }
  .opciones_de_productos.opcion_cambio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    z-index: 5;
    transition: 0.5s;
    background: #fff;
    position: relative;
  }
  .button_opciones {
    padding-left: 7vh;
    padding-right: 2vh;
    font-family: "Mulish", sans-serif;
    border: none;
    font-size: 3.5vh;
    color: var(--letra-negra);
  }
  .menu_opciones {
    width: 95%;

    height: 50%;
  }

  .container_opciones_menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    border-top: none;
  }
  .categorias_opciones {
    width: 40%;
    padding-right: 20vh;

    list-style: none;
    display: flex;
    flex-direction: row;
    padding-top: 7vh;
    flex-wrap: wrap;
    font-size: 5vh;
  }
  .talle_opciones {
    width: 20%;
    list-style: none;
    font-family: "Mulish", sans-serif;
    line-height: 5vh;
  }
  .color_opciones {
    width: 10%;
    list-style: none;
    line-height: 7vh;
  }
  .color_opciones-1 {
    margin-top: 6.4vh;
    width: 20%;
    list-style: none;
    line-height: 7vh;
  }
  .list_opciones {
    font-size: 2.4vh;
    font-family: "Mulish", sans-serif;
    color: var(--letra-gris);
  }
  .title_menu_opciones-1 h3 {
    font-family: "Mulish", sans-serif;
  }
  .title_menu_opciones-1 {
    font-size: 3vh;
    position: absolute;
    font-family: "Mulish", sans-serif;
    margin-top: 1vh;
    margin-bottom: 10vh;
    width: 20%;
    color: var(--letra-negra);
    padding-left: 20vh;
    padding-right: 20vh;
  }
  .list_opciones-1 {
    padding-left: 6vh;
    font-size: 2vh;
    text-decoration: none;
    font-family: "Mulish", sans-serif;
    color: var(--letra-gris);
  }
  .list_opciones-1 :hover {
    color: var(--letra-gris);
    font-size: 2.4vh;
  }
  .list_opciones :hover {
    color: var(--letra-gris);
    font-size: 3vh;
  }
  .title_menu_opciones {
    font-size: 3vh;
    color: var(--letra-negra);
    font-family: "Mulish", sans-serif;
  }
  .cuadrados_colores {
    height: 10px;
    width: 10px;
    margin-right: 5vh;
    background: blueviolet;
    display: inline-block;
  }
}
