.cont-publicidad-1 {
  grid-area: cont-publicidad-1;
  background: url(../../imagenes-proyecto/imgpubli-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: start;
}

.bu-publicidad {
  height: 7vh;
  width: 20vh;
  margin-left: 7vh;
  display: flex;
  text-align: center;
  font-size: 3vh;
  align-items: center;
  justify-content: start;
  transition: 0.8s;
  transition: all 1s;
}

.bu-publi {
  height: 7vh;
  width: 45vh;
  text-decoration: none;
  color: #000;
  border: 2px solid #a80f96;
  border-radius: 24px;
  position: relative;
  text-align: center;
  font-size: 5vh;
}

.bu-publicidad :hover {
  width: 21vh;
  position: absolute;
  box-shadow: 2px 2px 3px #a80f96;
}

.cont-publicidad-2 {
  grid-area: cont-publicidad-2;
  background: url(../../imagenes-proyecto/image0000431-79da39a9ba220ab08516316458720084-1024-1024.jpeg);
  background-position-x: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: start;
}

.cont-publicidad-3 {
  grid-area: cont-publicidad-3;
  background: url(../../imagenes-proyecto/img-punli-gorrojpeg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: start;
}

.cont-publicidad-4 {
  grid-area: cont-publicidad-4;
  background: url(../../imagenes-proyecto/carterita.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: start;
}
