.novedades {
  background: #fff;
  overflow: hidden;
  grid-area: novedades;
}

.img-ofertas {
  display: flex;
  flex: row wrap;
  align-items: center;

  padding-top: 3%;
  overflow: hidden;
  justify-content: space-around;
}
.images_de_ofertas {
  height: 50%;
}
.ofert-img {
  box-shadow: 3px 3px 5px #e5e7e9;
  height: 10%;
}
.title-ofertas {
  font-size: 10vh;
  text-align: center;
  padding-top: 3%;
  color: #8f3a84b0;
}

.nombre-producto {
  font-size: 2vh;
  padding-top: 5%;
  text-align: center;
  align-items: center;
  display: block;
}

.nombre-producto a {
  color: #000;
  font-size: 3vh;
  display: block;
  transition: color 0.2s;
}

.precio {
  font-size: 3vh;
  padding-top: 2%;
  display: inline-block;
}

.nombre-producto a :hover {
  color: #78909c;
}

.nombre-producto :hover {
  color: #78909c;
}

.precio-viejo {
  font-size: 2.4vh;
  color: #9e9e9e;
  padding-top: 3%;
  display: inline-block;
}

.cuotas-nov {
  font-size: 2.5vh;
  margin-top: 2vh;
}

.bu-novedades {
  text-align: center;
  padding-top: 5vh;
  font-size: 3vh;
  align-items: center;
  position: relative;
  text-decoration: none;
}

.bu-oferta {
  height: 7vh;
  width: 35vh;
  transition: width 0.7s;
  background: #fff;
  border: 2px solid #000;
  border-radius: 24px;
  text-align: center;
  font-size: 2.8vh;
}

.bu-novedades :hover {
  width: 43vh;
  background: #c5edff;
}
